.sidebar{
     position: fixed;
     top:0;
     right: 0;
     bottom: 0;
     width: 420px;
     background-color: white;
     box-shadow: -2px 0 6px rgba(0,0,0,.15);
     display: flex; 
     flex-direction: column; 
     justify-content: space-between;
     padding: 16px;
}

.sb-footer{
     padding: 12px 0 0 0;
     border-top: 1px solid #e5e5e5;
}

.sb-footer button{
     background-color: #0F548C;
     border: 0;
     color: white;
     padding: 6px 10px;
     border-radius: 6px;
     margin-right: 8px;
     cursor: pointer;
}
.sb-form{
     padding: 0;
}


.sb-form-field{
     margin-bottom: 12px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     gap: 6px;
}