.todo-item{
    display: flex;
    justify-content: space-between;
}
.task-input, .todo-item{
    border: 0;
    background-color: white;
    width: 100%;
    padding: 3px 5px;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0,.1);
    margin-bottom: 5px;
    font-size: 18px;
}

.main-content{
    background-color: #f0f0f0;
    padding: 30px;
}

.container{
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.left-panel{
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.filter-panel{
     width: 100%;
}

.main-content{
    flex: 1;
}